<!-- signup.component.html -->
<div class="form-wrapper">
  <div class="form-box">
    <h2>Sign Up</h2>
    <!-- Campos do formulário -->
    <div  class="form-row">
    <!--<form>
      <input [(ngModel)]="login.firstName" type="text" name="firstName"  placeholder="First Name">
      <input [(ngModel)]="login.secundName" type="text" name="secundName" placeholder="Last Name">
    </form>-->
    </div>
    <form>
    <input [(ngModel)]="login.email" type="email" name="email" placeholder="Email">
    <input [(ngModel)]="login.password" type="password"  name="password" placeholder="Password">
 
    <button (click)="create()" type="submit">Sign up</button>
    </form>
    
    <div class="or">OR</div>
    <button class="google">🔒 Sign up with Google</button>
    <button class="facebook">🔒 Sign up with Facebook</button>
    <p>Already have an account? <a href="#">Sign in</a></p>
  </div>
</div>
